<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDujL4SjWuFhrQvc1LQ2Dj2RS1BUZMxjq0</string>
	<key>GCM_SENDER_ID</key>
	<string>483446824756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bikinaplikasi.fashion24.deliveryman</string>
	<key>PROJECT_ID</key>
	<string>fashion24-delivery-man</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion24-delivery-man.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483446824756:ios:cc3dad85f609e26a708f61</string>
</dict>
</plist>